body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component{
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: beige;
}